@model DoctorAppointmentScheduler.Models.PatientDetail

@{
    ViewBag.Title = "DisplayPatientDetails";
}

<h2>DisplayPatientDetails</h2>

<div>
    <h4>PatientDetail</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthConditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthConditions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("DisplayDoctors", "Index")
</p>
